force-app/main/default/flows/test_auto_variables.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>a</name>
        <label>a</label>
        <locationX>1103</locationX>
        <locationY>194</locationY>
        <assignmentItems>
            <assignToReference>thiscon.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopacc.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thiscon.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loopacc.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>thiscon.AssistantName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>hello</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_master_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_list</name>
        <label>add to list</label>
        <locationX>427</locationX>
        <locationY>154</locationY>
        <assignmentItems>
            <assignToReference>acc</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>thisacc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>more_than_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_to_master_list</name>
        <label>add to master list</label>
        <locationX>1210</locationX>
        <locationY>286</locationY>
        <assignmentItems>
            <assignToReference>allcons</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>thiscon</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>qqqqqqq</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_created_acc_ids</name>
        <label>ass created acc ids</label>
        <locationX>904</locationX>
        <locationY>440</locationY>
        <assignmentItems>
            <assignToReference>createdaccs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>acc</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>create_acc</name>
        <label>create acc</label>
        <locationX>278</locationX>
        <locationY>135</locationY>
        <assignmentItems>
            <assignToReference>thisacc.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>aaa</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_to_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>qqqqqq</name>
        <label>qqqqqq</label>
        <locationX>808</locationX>
        <locationY>201</locationY>
        <assignmentItems>
            <assignToReference>createdaccs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>createdaccs</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>more_than_3</name>
        <label>more than 3</label>
        <locationX>329</locationX>
        <locationY>327</locationY>
        <defaultConnector>
            <targetReference>create_acc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <interviewLabel>test auto variables {!$Flow.CurrentDateTime}</interviewLabel>
    <label>test auto variables</label>
    <loops>
        <name>qqqqqqq</name>
        <label>qqqqqqq</label>
        <locationX>966</locationX>
        <locationY>321</locationY>
        <assignNextValueToReference>loopacc</assignNextValueToReference>
        <collectionReference>acc</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>a</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_c</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create</name>
        <label>create</label>
        <locationX>672</locationX>
        <locationY>336</locationY>
        <connector>
            <targetReference>qqqqqqq</targetReference>
        </connector>
        <inputReference>acc</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_1</name>
        <label>create 1</label>
        <locationX>727</locationX>
        <locationY>456</locationY>
        <connector>
            <targetReference>ass_created_acc_ids</targetReference>
        </connector>
        <inputReference>thisacc</inputReference>
    </recordCreates>
    <recordCreates>
        <name>create_c</name>
        <label>create c</label>
        <locationX>1126</locationX>
        <locationY>407</locationY>
        <inputReference>allcons</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>create_acc</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>acc</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>allcons</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>createdaccs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>loopacc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>text</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>thisacc</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>thiscon</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
